*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{

    font-size: 62.5%; ///1rem = 10px
    @include respond(large){
        font-size: 56.25%;
    }

    @include respond(medium){
        font-size: 50.25%;
    }
    @include respond(small){
        font-size: 50%;
    }
   
}

body{
    background-color: $color-grey-light-2;
    font-weight: 300;
    line-height: 1.6;
}


.mainContainer{
     display: grid;
     grid-template-rows: [navStart] 12rem [navEnd videoStart]calc(100vh - 12rem) [videoEnd];
     grid-template-columns: [columnsStart] 1fr [columnLeftEnd centerStart] repeat(4, 20vw) [centerEnd columnRightStart] 1fr [columnsEnd];

}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}










