
$color-primary: #55c57a;
$color-primary-light:  rgb(10, 232, 10);
$color-primary-dark:  rgb(6, 72, 6);

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-menu: rgba(255, 255, 255, 0.6);
$main-green: #1C9D48;
$main-white: #e1e1e1;
$border-color:#a3d03e;









@mixin respond($breakpoint){


    @if $breakpoint == smallest {
        @media only screen and (max-width:  50em){@content}
    }


    @if $breakpoint == small {
        @media only screen and (max-width:  68em){@content}
    }


    @if $breakpoint == large{
        @media only screen and (max-width:85em){@content}
    }

    @if $breakpoint == largest{
        @media only screen and (min-width:112.5em){@content}
    }


}