
    @include respond(large){

        @keyframes popupAnimationSmall{
            0%{
                margin-top: 3.5rem;
                opacity: 0.5;
            }
            100%{
                margin-top: 1.5rem;
                opacity:  .8;
      
            }
        }

        .nav{
            display: flex;
            flex-direction: column-reverse;
            justify-content: start;

            &__left{

               
                position: absolute;
                margin: 12rem;        
                border: 18px solid transparent;
                left: 2rem;
                top: -8.8rem;
                margin-left: 0;
                display: flex;
                justify-content: start;


                &--wrapper{
                    gap: 1.8rem !important;
                    position: relative;
                    left: -6rem;

                    &-img{
                    
                        border: 18px solid transparent;
                        position: relative;
                        top: 0rem !important;
                        right: -.8rem;
    
                    }

                  
                  
              

                    &-bigText{
                       
                        position: relative;
                        left: -1.5rem;
                        top: -1rem;

                          
                    &>:nth-child(1){
                        
                        font-family: 'Eczar';
                        font-size: 2.5rem !important;
                        font-weight: 200;
                        text-transform: uppercase;
                        color: rgb(151, 110, 56);
                    }

                    &>:nth-child(2){
                        font-size: 2.5rem !important;
                    }


                    }

                    &-smallText{

                        font-size: 1.5rem !important;
                        position: relative;
                        left: -1.5rem;
                        top: -1rem;
                        
                    }

                }
           

            }

            &__right{

                position: relative;
                width: 100%;
                
                


                &--top{


                    display: flex;
                    justify-content: end;
                    background-color: $main-green;
                  

                    >:first-child{
                        display: none;
                    }
                   
                    &-content{
                        
                        color: $main-white;
                        display: flex;
                    
                        fill: $main-white;


                        >:nth-child(-n+2){
                            
                            
                        }
                        

                        &_phone{
                            font-size: 1.6rem !important;
                        }

                        &_search{

                            height: 2rem;
                            width: 2rem;
                   

                            svg{

                                height: 2rem !important;
                                width: 2rem !important;
                        
                            }
                        }


                      
                    }
                  
                    height: 6rem;
          
                    
                    
                }

                &--bottom{
                    height:6rem;
     
                    display: flex;
                    justify-content: end;
                    align-items: center;
          
                
                    
           

                    .nav__right-list{
                        display: flex;
                        align-content: start;
                        padding: .2rem !important;

                        .popup{
                          animation: popupAnimationSmall 0.3s linear forwards !important;
                      
                        }
                       
                    }

                }
            }
        }
       
        }

 
    