.heroVideo{

  grid-row: navStart/videoEnd;
  grid-column: columnsStart/columnEnd;
  padding-top: 12rem;
  border: 40px sold yellow;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(small){
    
  }


  .video__inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
   
  }



}