.heroVideo{
    



    .hero{

       max-width: 65vw;
       position: relative;
       z-index: 1000;
       border: 2px solid red;
       display: flex;
       justify-content: center;
       flex-direction: column;
       

       @include respond(small){
        position: relative;
        top: -5rem;
        min-width: 80vw !important;
       }

     
        &__topwrap{
      
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-bottom: 2rem;
            

            .largetext{
                font-family:'Lato';
                font-size: 7rem;
            letter-spacing: .2rem;
                font-weight: 700;
                color: $main-white;
                padding-bottom: 2rem;
                line-height: 8rem;

                @include respond(large){
                    font-size: 5rem !important;
                }

                
                @include respond(small){
                    font-size: 4rem !important;
                    padding-bottom: 0;
                }

                @include respond(smallest){
                    font-size: 3.5rem !important;
                 
                }


               

              
            }
            .smalltext{
                font-family:'Lato';
                font-size: 3rem;
                font-weight: 400;
                color: $main-white;
                line-height: 4rem;
          
                width: 50%;
                display: flex;
                justify-content: space-evenly;
                border: 2px solid blue;


                @include respond(large){
                    font-size: 3rem !important;
                }

                 
                @include respond(smallest){
                    padding: 0rem;
                    width: 80%;
                    justify-content: center;
                }

            }


        }


        &__bottomwrap{
        
            display: flex;
            justify-content:start;
            align-items: center;
            padding: 2rem;
            gap: 1.5rem;
            border: 2px solid orange;

            @include respond(large){
            
                padding-top: 0 !important;

            }

            @include respond(small){
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 75% 25%;
            }

            @include respond(smallest){
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: start;

                .search__container{
                    width: 100% !important;
                }

                .selection__area{
                    width: 100% !important;
                }

                
            
            }



            // @include respond(small){
            
            //   display: grid;
            //   grid-template-rows: 5rem 5rem;
            // }

            

            .search__container{
                grid-column: 1/2;

                grid-column: 1/-1;
                grid-row: 1/2;


                flex: 0 0 40%;
         
                display: flex;
                
                .custom-search{
                position: absolute;
                left: 3rem;
                bottom: 3.2rem;
                font-size: 3rem;
                color: rgba(22, 3, 3, 0.596);
                border: 2px solid red;

                @include respond(large){
                    
                    bottom: 3.5rem;
                }
                
                }

                
               .custom-search--input{     
                width: 100%;
                padding:  1.8rem 2rem 1.8rem 4.2rem;
                border-radius: 1rem;
                overflow: hidden;
                line-height: 1rem !important;
                font-size: 1.4rem;
                font-weight: 700;
                color: rgba(128, 128, 128, 0.304);
                border: 1.5px solid $border-color;
                color: rgba(4, 32, 4, 0.72);

                &::placeholder {
                    color: rgba(128, 128, 128, 0.6);
                    font-size: 1.4rem;
                    text-transform: uppercase;
                }

                &:focus {

                    border-color: darken($border-color, 10%);
                    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
                    outline: none;
                }

                &::-webkit-search-cancel-button {
                    /* Скрытие крестика (опционально) */
                    cursor: pointer;

                    &::hover{

                        background-color: #f0f0f0; 
                        border-radius: 50%; 
                        padding: 2rem;
                    }
                }

                }

            
            }

            .selection__area{


                flex: 0 0 40%;
                display: flex;
                justify-content: center; 
                gap: 0rem !important;    
                
                >label{
                    display: none;
                }

                .dropdown{
                    flex: 1;
                    text-transform: uppercase;
                    

            

                    &__left{
                        border-bottom-left-radius: 1rem;
                        border-top-left-radius: 1rem;
                        padding:1.8rem;
                        

                    }
                    &__right{
                        border-bottom-right-radius: 1rem;
                        border-top-right-radius: 1rem;
                        padding: 1.8rem;

                    }

                    
                }

            }

            .button__wrapper{

                flex: 0 0 10%;
                display: flex;
                justify-content: center;
                align-items: center;

                @include respond(small){
         
                }

                .btn{

                    background-color: $main-green;
                    padding: 1.8rem 6rem 1.8rem 6rem;
                    border-radius: 8px;
                    border: none;
                    line-height:2rem;
                    font: 'Monserrat';
                    color: $main-white;
                    text-transform: uppercase;
                    font-weight: 700;
                    cursor: pointer;
                    transition: all 0.1s ease-in;
                    letter-spacing: .3rem;



                    @include respond(small){
                      
                    }

                    &:active{
                        transform: scale(0.98) translate(0, .1rem);

                    }
                 
                }


            }


        }

    
    }
}



input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
    overflow-clip-margin: 0px !important;
    overflow: clip !important;
    word-break: break-all;

}
