@font-face{
    font-family: 'Syne';
    src: url('/SassLorem/Base/fonts/Syne-VariableFont_wght.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Bilbo';
    src: url('/SassLorem/Base/fonts/Bilbo-Regular.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Eczar';
    src: url('/SassLorem/Base/fonts/Eczar-VariableFont_wght.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Snowflake';
    src: url('/SassLorem/Base/fonts/Snowflakes.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Monserrat';
    src: url('/SassLorem/Base/fonts/Montserrat-VariableFont_wght.ttf');
    font-weight: 600;
    font-style: normal;
}