.mainMenu{
    background-color: rgba(255, 255, 255, 0.6);
    grid-row: navStart/navEnd;
    grid-column: columnsStart/columnsEnd;
    z-index: 3;
    position: relative;

    .nav{
        display: flex;
        justify-content: start;
        height: 100%;

        &__left{

            flex: 0 0 45%;
            border: 2px solid green;
            height: inherit;
            display: flex;
            justify-content: start;
            align-items: center;
            

            &--wrapper{

                height: 80%;
                width: 25%;
                min-width: 20rem;
                margin-left: 2rem;

                display: grid;
                grid-template-columns: min-content max-content;
                grid-template-rows: 30% 30%;
                justify-content: start;
                align-content: center;
                border: 2px solid green;
                

                &-img{

                height: 8rem;
                width: 10rem;
             
                grid-row: 1/span 3;
                margin-left: 1rem;

                }


                &-bigText{

                    text-transform: uppercase;
                    min-height: 2rem;
                    text-align: end;
                    font-size: 2.5rem;
                    margin-top: 1rem;
                    font-weight: 800;

                }

                &-smallText{

                    min-height: 2rem;
                
                    margin-top: 1rem;
                    font-size: 2rem;
                }
            
            }

            

        
        }

        &__right{

            flex: 0 0 55%;
            height: inherit;

            display: grid;
            grid-template-rows: min-content min-content;
            align-content: end;
          

            

            &--top{

                border: 2px solid red;
                display: flex;

                >div:nth-of-type(1){
                    flex: 0 0 40%;
                }

                &-content{
                    flex: 0 0 40%;
                    display: flex;
                    justify-content: space-between;
                    gap: 1rem;
                    list-style: none;
                    border-left: 2px solid black;

                    >:nth-child(-n+2){
                        border-right: 2px solid grey;
                    }

                    li{
                        padding: .3rem 1rem 0 1rem;
                        border: 2px solid navajowhite;

                    }
                }

            }

            &--bottom{
                
                border: 2px solid blue;

            

                &-list{
                    list-style: none;
                    display: flex;
                    justify-content: space-evenly;
                    gap: 1rem;
                    height: 100%;
                    width: 100%;
                    border: 2px solid yellowgreen;
                    padding: 2rem 1rem .5rem 1rem;
                    
                }
            }


        }

       

    }
}