.show {
  display: block;
}

.hide {
  display: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

body {
  background-color: #eee;
  font-weight: 300;
  line-height: 1.6;
}

.mainContainer {
  display: grid;
  grid-template-rows: [navStart] 12rem [navEnd videoStart] calc(100vh - 12rem) [videoEnd];
  grid-template-columns: [columnsStart] 1fr repeat(4, max-content) 1fr [columnsEnd];
}

.mainMenu {
  background-color: rgba(255, 255, 255, 0.6);
  grid-row: navStart/navEnd;
  grid-column: columnsStart/columnsEnd;
  z-index: 3;
  position: relative;
}
.mainMenu .nav {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
}
.mainMenu .nav__left {
  flex: 0 0 40%;
  height: inherit;
  display: flex;
  justify-content: start;
  align-items: center;
}
.mainMenu .nav__left--wrapper {
  height: 80%;
  width: 25%;
  min-width: 20rem;
  margin-left: 2rem;
  display: grid;
  grid-template-columns: min-content max-content;
  grid-template-rows: 30% 30%;
  justify-content: start;
  align-content: center;
}
.mainMenu .nav__left--wrapper-img {
  height: 8rem;
  width: 10rem;
  grid-row: 1/span 3;
  margin-left: 1rem;
}
.mainMenu .nav__left--wrapper-bigText {
  text-transform: uppercase;
  min-height: 2rem;
  text-align: end;
  font-size: 2.5rem;
  margin-top: 1rem;
  font-weight: 800;
}
.mainMenu .nav__left--wrapper-smallText {
  min-height: 2rem;
  margin-top: 1rem;
  font-size: 2rem;
}
.mainMenu .nav__right {
  flex: 0 0 60%;
  height: inherit;
  display: grid;
  grid-template-rows: min-content min-content;
  align-content: end;
}
.mainMenu .nav__right--top {
  display: flex;
}
.mainMenu .nav__right--top > div:nth-of-type(1) {
  flex: 0 0 30%;
}
.mainMenu .nav__right--top-content {
  flex: 0 0 70%;
  display: flex;
  align-items: center;
  justify-content: end;
  list-style: none;
}
.mainMenu .nav__right--top-content > :nth-child(-n+2) {
  border-right: 2px solid grey;
}
.mainMenu .nav__right--top-content li {
  padding: 0.3rem 1rem 0 1rem;
  margin-right: 2rem;
}
.mainMenu .nav__right--top-content li:nth-of-type(1) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.4rem;
  padding-top: 0.3rem;
  margin-right: 0 !important;
  cursor: pointer;
}
.mainMenu .nav__right--top-content li:nth-of-type(1):hover > :first-child {
  transform: scale(1.4) rotate(-45deg);
  position: relative;
}
.mainMenu .nav__right--top-content li:nth-of-type(1) > :first-child {
  transition: all 0.3s linear;
  position: relative;
  top: 0.2rem;
  left: 0.2rem;
}
.mainMenu .nav__right--top-content li:nth-of-type(1) > :first-child svg {
  height: 1.4rem;
  width: 1.4rem;
}
.mainMenu .nav__right--top-content li:nth-of-type(1) > :nth-child(2) {
  font-family: Lato;
  font-weight: bold;
  font-size: 2.1rem;
}
.mainMenu .nav__right--top-content li:nth-of-type(2) {
  display: flex;
  gap: 1.2rem;
  cursor: pointer;
}
.mainMenu .nav__right--top-content li:nth-of-type(2) [class^=social__] {
  height: 2rem;
  width: 2rem;
}
.mainMenu .nav__right--top-content li:nth-of-type(3) {
  font-weight: bold;
  font-family: cursive;
  flex-shrink: 0;
  font-size: 1.4rem;
  position: relative;
  right: 0.6rem;
}
@media only screen and (max-width: 80em) {
  .mainMenu .nav__right--top-content li:nth-of-type(3) {
    font-size: 1rem;
  }
}
.mainMenu .nav__right--top-content > :last-child {
  text-align: center;
  margin-right: 3rem;
  cursor: pointer;
  position: relative;
  right: 1rem;
}
.mainMenu .nav__right--top-content > :last-child svg {
  height: 2rem;
  width: 2rem;
}
.mainMenu .nav__right--bottom .nav__right-list {
  list-style: none;
  display: flex;
  justify-content: end;
  padding: 0;
}
.mainMenu .nav__right--bottom .nav__right-list [class^=nav__right--item] {
  padding: 0.2rem;
  font-size: 1.55rem;
  font-weight: 500;
  font-family: Lato;
  text-transform: uppercase;
}
.mainMenu .nav__right--bottom .nav__right-list [class^=nav__right--item] .item--arrow {
  height: 1.5rem;
  width: 1.5rem;
}
.mainMenu .nav__right--bottom .nav__right-list li {
  margin-right: 3rem;
  cursor: pointer;
  padding: 1.5rem 0.1rem 1rem 0rem !important;
}
.mainMenu .nav__right--bottom .nav__right-list .popup {
  position: absolute;
  margin-top: 3rem;
  display: none;
}
.mainMenu .nav__right--bottom .nav__right-list .popup--1 {
  width: 25rem;
  height: 40rem;
  background-color: rgba(255, 255, 255, 0.6);
}
.mainMenu .nav__right--bottom .nav__right-list .popup--2 {
  width: 10rem;
  height: 40rem;
  background-color: rgba(255, 255, 255, 0.6);
}
.mainMenu .nav__right--bottom .nav__right-list .popup--3 {
  width: 11rem;
  height: 40rem;
  background-color: rgba(255, 255, 255, 0.6);
  border: 0.1rem solid grey;
}

@keyframes popupAnimation {
  0% {
    margin-top: 3rem;
    opacity: 0.5;
  }
  100% {
    margin-top: 1rem;
    opacity: 0.8;
  }
}
@media only screen and (max-width: 75em) {
  .nav {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
  }
  .nav__left {
    position: absolute;
    margin: 12rem;
    border: 18px solid transparent;
    left: 2rem;
    top: -8.8rem;
    margin-left: 0;
    display: flex;
    justify-content: start;
  }
  .nav__left--wrapper {
    position: relative;
    left: -7rem;
  }
  .nav__left--wrapper-img {
    border: 15px solid transparent;
    position: relative;
    top: -0.5rem;
  }
  .nav__left--wrapper-bigText {
    font-size: 2rem !important;
    position: relative;
    left: -1.5rem;
  }
  .nav__left--wrapper-smallText {
    font-size: 2rem !important;
    position: relative;
    left: -1.5rem;
  }
  .nav__right {
    position: relative;
    width: 100%;
  }
  .nav__right--top {
    height: 6rem;
  }
  .nav__right--top > :first-child {
    display: none;
  }
  .nav__right--top-content {
    display: flex;
    justify-content: space-evenly !important;
    margin-right: auto;
    margin-left: auto;
  }
  .nav__right--top-content_phone {
    font-size: 1.6rem !important;
  }
  .nav__right--top-content_search {
    height: 4.5rem;
    width: 10rem;
  }
  .nav__right--top-content_search svg {
    height: 4rem !important;
    width: 3rem !important;
  }
  .nav__right--bottom {
    height: 6rem;
    display: flex;
    justify-content: end;
  }
}
.heroVideo {
  grid-row: navStart/videoEnd;
  grid-column: columnsStart/columnsEnd;
  z-index: 1;
  position: relative;
}
.heroVideo__inner {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=main.css.map */